{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    <!-- Все услуги -->
    <section class="aboutSubsidies">
        <div class="aboutSubsidies__container container">
            <h1 class="aboutSertificate__title title_h1">Субсидии на "{{ subsidies }}":</h1>
            <div class="aboutSubsidies__list">
                {% if laws %}
                    {% for law in laws %}
                        <a href="{{ law.url }}" target="_blank" class="aboutSubsidies__item"><span>{{ law.name }}</span> - {{ law.about }}</a>
                    {% endfor %}
                {% else %}
                    <h1><br><br><br>Скоро информация будет доступной...<br><br><br></h1>
                {% endif %}
            </div>
            <a href="{% url 'subsidiesForm' %}" class="aboutSertificate__button">
                Получить субсидию
            </a>
        </div>
    </section>

{% endblock %}