{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    <!-- Категории субсидий -->
    <section class="subsidies">
        <div class="subsidies__container container">
            <h1 class="sertificats__title title_h1">Субсидии в текстильной отрасли</h1>
            <div class="subsidies__list">
                {% for subsidy in subsidies %}
                    <a href="{% url 'subsidiesAbout' subsidy.pk %}" class="subsidies__item">
                        <p class="subsidies__category">{{ subsidy.name }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}