{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    <!-- Категории субсидий -->
    <section class="subsidies">
        <div class="subsidies__container container">
            <h1 class="sertificats__title title_h1">Субсидии в текстильной отрасли</h1>
            <div class="subsidies__list">
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Экспорт</p>
                </a>
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Оборудование</p>
                </a>
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Логистика</p>
                </a>
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Сертификация</p>
                </a>
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Выставки</p>
                </a>
                <a href="{% url 'subsidiesAbout' %}" class="subsidies__item">
                    <p class="subsidies__category">Возврат НДС</p>
                </a>
            </div>
        </div>
    </section>

{% endblock %}