{% extends 'custom/base.html' %}
{% load static %}

<!-- Блок инструментов -->
{% block tools %}

{% endblock %}

<!-- Основной контекст -->
{% block content %}
<div class="main__container container">
  <div class="chat">
        <h2 class="phoneNumbers__title text-centered phoneNumbers__title-main">NeyroHero v.1.0</h2>
        <div class="gpt__block">
          <form class="message-form">
            {%csrf_token%}
            <div class="input-group">
              <textarea type="text" class="form-control message-input popup__input" placeholder="Напишите свой запрос..."></textarea>
              <div class="input-group-append">
                <button type="submit" class="message__button popup__button button">Send</button>
              </div>
            </div>
          </form>
          <ul class="list-unstyled messages-list"></ul>
        </div>
    </div>
</div>
{% endblock %}
