{% extends 'custom/base.html' %}

{% block content %}
    <div id="login" class="popup-create-folder popup open" name="autorization">
        <div class="popup-create-folder__body popup__body">
            <div class="popup-create-folder__content popup__content">
                <div class="popup__title">Авторизация</div>
                {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                {% endif %}
                <form method="POST" class="form popup__form" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" value="test" class="popup__input" placeholder="Логин" name="username" id="id_username" required>
                    <input type="password" value="test" class="popup__input" placeholder="Пароль" name="password" id="id_password" required>
                    <button class="popup__button button">Авторизоваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}