{% extends 'custom/base.html' %}


{% block content %}
    <div class="phoneNumbers">
        <div class="phoneNumbers__container">
            <div class="phoneNumbers__table_container">
                <h2 class="phoneNumbers__title text-centered phoneNumbers__title-main">ТЕЛЕФОННЫЕ НОМЕРА АССОЦИАЦИИ "УЗТЕКСТИЛЬПРОМ"</h2>
                <table class="phoneNumbers__table">
                    <thead>
                    <tr>
                        <th class="width-450">ФИО</th>
                        <th class="width-300">Должность</th>
                        <th class="width-200">Внутренний номер</th>
                        <th class="width-300">Почта</th>
                        <th class="width-200">Номер</th>
                    </tr>
                    </thead>
                </table>
            </div>

            {% for department in departments %}
            {% if department.customuser_set.all %}
            <div class="phoneNumbers__table_container">
                <h2 class="phoneNumbers__title text-centered text-grey">{{ department.name }}</h2>
                <table class="phoneNumbers__table">
                    <tbody>
                    {% for user in department.customuser_set.all %}
                    <tr>
                        <td class="width-450">{{ user.full_name }}</td>
                        <td class="width-300">{{ user.position.title }}</td>
                        <td class="text-centered width-200">{{ user.internal_number }}</td>
                        <td class="text-centered width-300">{{ user.email }}</td>
                        <td class="text-centered width-200">{{ user.phone_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% endfor %}

            
        </div>
    </div>
{% endblock %}