{% extends 'custom/base.html' %}
{% load static %}


<!-- Блок инструментов -->
{% block tools %}
    <div class="header__tools tools">
        <a href="#phoneNumbers" class="tools__link">
            <i class="bi bi-telephone-outbound-fill"></i>
            Номера
        </a>
        <a href="#upload__file" class="tools__link">
            <i class="bi bi-bar-chart-steps"></i>
            Структура
        </a>
    </div>
{% endblock %}


<!-- Основной контект -->
{% block content %}
    <div class="phoneNumbers" id="phoneNumbers">
        <div class="phoneNumbers__container">
            <div class="phoneNumbers__table_container phoneNumbers__table_container-fixed">
                <h2 class="phoneNumbers__title text-centered phoneNumbers__title-main">ТЕЛЕФОННЫЕ НОМЕРА АССОЦИАЦИИ "УЗТЕКСТИЛЬПРОМ"</h2>
                <table class="phoneNumbers__table">
                    <thead>
                    <tr>
                        <th class="width-450">ФИО</th>
                        <th class="width-300">Должность</th>
                        <th class="width-200">Внутренний номер</th>
                        <th class="width-300">Почта</th>
                        <th class="width-200">Номер</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="margin-bottom-100"></div>

            {% for department in departments %}
            {% if department.customuser_set.all %}
            <div class="phoneNumbers__table_container phoneNumbers__table_container_top">
                <h2 class="phoneNumbers__title text-centered text-grey">{{ department.name }}</h2>
                <table class="phoneNumbers__table">
                    <tbody>
                    {% for user in department.customuser_set.all %}
                    <tr>
                        <td class="width-450">{{ user.full_name }}</td>
                        <td class="width-300">{{ user.position.title }}</td>
                        <td class="text-centered width-200">{{ user.internal_number }}</td>
                        <td class="text-centered width-300">{{ user.email }}</td>
                        <td class="text-centered width-200">{{ user.phone_number }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% endfor %}
            <div class="structure" id="structure">
                <img class="img structure__img" src="" alt="">
            </div>        
        </div>
    </div>
{% endblock %}