{% extends 'custom/base.html' %}

<!-- блок Sidebar -->
{% block sidebar %}
    <section class="sidebar">
        <div class="sidebar__container container">
            <div class="sidebar__list"  id="menu-act">
                <a href="{% url 'main' %}" class="sidebar__item sidebar__item-active">
                    <i class="bi bi-folder-fill"></i>
                    Hujjatlar
                </a>
                <a href="{% url 'phoneNumbers' %}" class="sidebar__item">
                    <i class="bi bi-telephone-forward-fill"></i>
                    Телефоные номера
                </a>
                <a href="videoCourses.html" class="sidebar__item">
                    <i class="bi bi-mortarboard-fill"></i>
                    Видео уроки
                </a>
                <a href="creating.html" class="sidebar__item">
                    <i class="bi bi-telegram"></i>
                    Чат
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile__container">
            <a href="{% url 'logout' %}" class="popup__button button">Выйти из профиля</a>
        </div>
    </div>
{% endblock %}