{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    
    <!-- Все услуги -->
    <section class="aboutSertificate">
        <div class="aboutSertificate__container container">
            <h1 class="aboutSertificate__title title_h1">{{ exhibitions.name }}</h1>
            <div class="aboutSertificate__descriptionBlock">
                <div class="aboutSertificate__img">
                    <img class="img" src="{{ exhibitions.image.url }}" alt="">
                </div>
            </div>
            <div class="aboutSertificate__criterias">
                {{ exhibitions.text|safe }}
            </div>
            <a href="{% url 'exhibitionsForm' %}" class="aboutSertificate__button">
                Учавствовать на выствке
            </a>
        </div>
    </section>

    
{% endblock %}