{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    
    <!-- Все услуги -->
    <section class="aboutSertificate">
        <div class="aboutSertificate__container container">
            <h1 class="aboutSertificate__title title_h1">Название выставки</h1>
            <div class="aboutSertificate__descriptionBlock">
                <div class="aboutSertificate__img">
                    <img class="img" src="{% static 'services/img/exhibitions/uzb-expo.png' %}" alt="">
                </div>
            </div>
            <div class="aboutSertificate__criterias">
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ... eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ... <br>
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ... <br><br>
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ...
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ...
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ...
                eko-Tex - сертификат надёжности для лучших производителей нашей отросли, которые показали себя с лучшей продукции на рынке вофылдовлдф влофылдвоф вдлфыовдлоф вдфлоывдлфо ...
            </div>
            <a href="{% url 'exhibitionsForm' %}" class="aboutSertificate__button">
                Получить сертификат
            </a>
        </div>
    </section>

    
{% endblock %}