{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}

    <!-- Все услуги -->
    <section class="exhibitions">
        <div class="exhibitions__container container">
            <h1 class="sertificats__title title_h1">Выставки текстильной отрасли</h1>
            <div class="exhibitions__list">
                {% for exhibition in exhibitions %}
                    <a href="{% url 'exhibitionsAbout' exhibition.pk %}" class="exhibitions__item">
                        <div class="exhibitions__img">
                            <img class="img " src="{{ exhibition.image.url }}" alt="">
                        </div>
                        <div class="exhibitions__info">
                            <h2 class="exhibitions__name">{{ exhibition.name }}</h2>
                            <p class="exhibitions__description">{{ exhibition.text|truncatechars:150|safe }}</p>
                            <p class="exhibitions__date"><span>Дата: </span>{{ exhibition.date }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}