{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}

    <!-- Все услуги -->
    <section class="exhibitions">
        <div class="exhibitions__container container">
            <h1 class="sertificats__title title_h1">Выставки текстильной отрасли</h1>
            <div class="exhibitions__list">
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/hometex.png' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/dresses.jpg' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/showcase.png' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/uzb-expo.png' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/showcase.png' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
                <a href="{% url 'exhibitionsAbout' %}" class="exhibitions__item">
                    <div class="exhibitions__img">
                        <img class="img " src="{% static 'services/img/exhibitions/uzb-expo.png' %}" alt="">
                    </div>
                    <div class="exhibitions__info">
                        <h2 class="exhibitions__name">Название Выставки</h2>
                        <p class="exhibitions__description">Все текстильные компании показывают свои успехи в новых материальных направлениях...</p>
                        <p class="exhibitions__date"><span>Дата: </span>28.07.2023</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

{% endblock %}