{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    
    <!-- О Партнёрстве -->
    <section class="aboutSertificate">
        <div class="aboutSertificate__container container">
            <h1 class="aboutSertificate__title title_h1">Как стать членом ассоциации</h1>
            <div class="aboutSertificate__descriptionBlock">
                <div class="aboutSertificate__img">
                    <img class="img" src="{% static 'services/img/full-logo.svg' %}" alt="">
                </div>
            </div>
            <div class="aboutSertificate__criterias">
                {% if partnership %}
                    {{ partnership.text |safe }}
                {% else %}
                    <h1> <br><br><br> Информация скоро будет доступной, спасибо за ваше ожидание... <br><br><br> </h1> 
                {% endif %}
            </div>
            <a href="{% url 'partnershipForm' %}" class="aboutSertificate__button">
                Стать членом ассоциации
            </a>
        </div>
    </section>

{% endblock %}