{% extends 'services/custom/base.html' %}
{% load static %}

{% block content %}
    
    <!-- О Партнёрстве -->
    <section class="aboutSertificate">
        <div class="aboutSertificate__container container">
            <h1 class="aboutSertificate__title title_h1">Как стать членом ассоциации</h1>
            <div class="aboutSertificate__descriptionBlock">
                <div class="aboutSertificate__img">
                    <img class="img" src="{% static 'services/img/full-logo.svg' %}" alt="">
                </div>
            </div>
            <div class="aboutSertificate__criterias">
                <b>Порядок вступления в ассоциацию </b><br><br>
                Документы, которые необходимо подать для приема предприятия в полноправные члены Ассоциации в соответствии с пунктом 3 Порядка, утвержденного Протоколом собрания Ассоциации «Узтекстильпром» от 19 апреля 2019 года. <br> <br>
                <b>Список:</b> <br>
                Письмо-заявление от организации: <br>
                Паспорт предприятия в виде образца; <br>
                Свидетельство о государственной регистрации организации, копия учредительных документов (со всеми изменениями и дополнениями); <br>
                Копию бухгалтерского баланса за последний отчетный период; <br>
                Подробная информация об установленном оборудовании (в виде прикрепленного образца).tashkilot raxbarini tayinlash haqidagi qaror yoki buyruq nusxasi, mehnat faoliyati toʻgʻrisidagi maʼlumotnoma; <br>
                Копия бизнес-плана производства предприятия не менее чем на один год; <br>
                Отдельная информация о продукции, ввозимой организацией на основании таможенных преференций (в виде прилагаемого образца); <br>
                Решение учредителя о вступлении в ассоциацию, письменное согласие (протокол), <br>
                Изготовление фотоматериалов (6-10 шт.), Изделий и внешнего вида здания. <br>
                Копия договора аренды, если здание используется на условиях аренды. <br>
                Копия кадастрового документа, когда здание принадлежит предприятию. (соответствующие 2-3 листа)<br><br>
                <b>Памятка</b><br>
                Обращение адресовано председателю Ассоциации «Узтекстильпром» -Хайдарову И.Ю.<br>

                Учредительные документы – свидетельство, устав и учредительный договор.<br>

                Баланс – относится к балансу, утвержденному ГНК.<br>

                Подробная информация об установленном оборудовании должна быть представлена ​​в виде таблицы.. <br><br>
            </div>
            <a href="{% url 'partnershipForm' %}" class="aboutSertificate__button">
                Стать членом ассоциации
            </a>
        </div>
    </section>

{% endblock %}